body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: orchid;
}

h1 {
	font-size: 13rem;
	font-family: Montserrat;
}

.letter {
	transition: color 1000ms;
}
